body * {
	margin: 0;
}

body {
	text-align: center;
}

.onlineHolder {
	position: absolute;
	top: 0;
	right: 0;
	border: 2px black solid;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	background: white;
}

.footer {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	font-size: 14px;
	border: 2px black solid;
	border-radius: 5px;
	text-align: center;
	background-color: white;
}

@media (max-width: 1200px) {
	.onlineHolder {
		display: none;
	}
	.footer {
		display: none;
	}
}
